html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    position: relative;
}

span.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

/* charcoal color #333 */

#servicios,
#mapas,
.navbar-custom,
.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    background-color: #faf0e6;
    color: #432b2a;
}

footer,
.middle {
    background-color: #432b2a;
    color: #FAF0E6;
}

.navbar-nav-right {
    margin-left: auto;
}

.pildora{
    border-radius: 5px;
    background-color: #989898;
    padding: 8px;
    color: black;
}

.fixed-bar {
    color: #FAF0E6;
    background-color: #904750;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 95px;
    /* Adjust based on the height of your navbar */
    width: 100%;
    z-index: 1020;
    /* Ensure it sits below the navbar */
}

/* Adjust the height of the navbar and fixed bar */
:root {
    --navbar-height: 80px;
    /* Adjust based on the height of your navbar */
    --fixed-bar-height: 50px;
    /* Adjust based on the height of your fixed bar */
}

header {
    margin-bottom: var(--fixed-bar-height);
    /* Space for fixed bar */
}

.hero-section {
    position: relative;
    /* Ensure the video and content are positioned relative to this section */
    padding-top: calc(var(--navbar-height) + var(--fixed-bar-height));
    /* Ensure padding top accounts for fixed elements */
    min-height: calc(50vh - var(--fixed-bar-height));
    /* Ensure the section takes at least the full viewport height minus fixed elements */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensure no overflow from video */
    z-index: 1;
    /* Ensure the section is above other content */
    color: #FAF0E6;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    will-change: transform;
}

.content {
    position: relative;
    z-index: 1;
}

.hero-section .card {
    background-color: #bebebe80;
    color: #FAF0E6;
}

#mapas .card {
    background-color: #FAF0E6;
    color: #432b2a;
    border: none;
}

.verdecito {
    color: #6a2f2d;
}

.card .antilink,
.card .btn,
#mapas p {
    font-size: 1.1em;
}

.btn {
    background-color: #904750;
    /* verde medio intenso para botón */
    border: none;
}

.antilink {
    color: #FAF0E6;
    text-decoration: none;
}

.services {
    padding: 4rem 8rem;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 20px 0;
    justify-content: center;
}

.service {
    text-align: center;
}

.service i {
    font-size: 48px;
    margin-bottom: 10px;
}

.service p {
    margin: 0;
    font-size: 1.2rem;
}

@media (min-width: 800px) {
    .service-grid {
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        gap: 20px 0;
        justify-content: center;
    }
}

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


/* carrusel ataudes */

#carouselataudes .carousel-inner,
#carouselurnas .carousel-inner {
    padding: 1em;
}

.cardcustom {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    background-color: #bebebe25;
    color: #FAF0E6;
}

.flechita {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.flechita2 {
    background-color: #3b3b3b;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {

    #carouselataudes .carousel-inner .carousel-item,
    #carouselurnas .carousel-inner .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    #carouselataudes .carousel-inner,
    #carouselurnas .carousel-inner {
        display: flex;
    }
}

.cardcustom .img-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcustom img {
    max-height: 100%;
}

/* @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  } */